$theme-color: rgb(254, 250, 241);
$background-color: rgba(180, 178, 175, 0.79);
$tab-color: rgb(225, 220, 211);
$footer-color: rgb(225, 220, 211);
$gray: rgb(155, 155, 155);
$black: rgb(20, 20, 20);
$add-btn: rgb(65, 90, 150);
$logout-btn: rgb(88, 81, 69);
$clear-btn: rgba(210, 129, 102, 0.975);
